### Two Way Frequency Table for Male and Female Students

In [1]:
import numpy as np
import pandas as pd

In [2]:
maleArray = np.array([42,12,20,58])
femaleArray = np.array([38,9,45,30])

In [3]:
sum(maleArray)

132

In [4]:
sum(femaleArray)

122

In [7]:
studentFrame = pd.read_csv('TwoWay.csv')
studentFrame.head()

   Gender  Music  Student Government  Theater  Sports  Total
0    Male     42                  12       20      58    132
1  Female     38                   9       45      30    122
2   Total     80                  21       65      88    254